*.tar
tmp/
notebooks/
__pycache__/
.ipynb_checkpoints/
scripts/run_*.sh
test*
*frame2state*
exp_local/*
*.png
encoder_pretrained/*
.vscode/launch.json
nerf_pretrain/run_nerf_2.py
nerf_pretrain/configs/drawer_affordance.txt
nerf_pretrain/segtest.py
nerf_pretrain/logs/drawer/config.txt
nerf_pretrain/logs/drawer/config.txt
segnet/Handle/train
segnet/Handle/weights
*.npy
segnet/Handle/encoders
snerl/sizetest.py
requirements.txt
